.banner{
    background-color: black;
    margin-top: 20 px;
}
.banner-text{
    margin-top: 40px;
    padding-top: 40px;
    padding-right: 30px;
}
.banner-text h1 {
    color:crimson;
    font-family:Permanent Marker;
    font-size:55px;
}
.banner-text p{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.btn{
    background-color: crimson;
    color: white;
}
.btn:hover{
    background-color: seagreen;
    color: white;
}
